{% extends 'navbar.html' %}
{% block title %}New Password Created{% endblock title %}
{% block body %}
<div class="container padding-bottom-3x mb-2 mt-5">
	    <div class="row justify-content-center">
	        <div class="col-lg-8 col-md-10">
	            <div class="forgot">
	                <h2>Password Reset Complete</h2>
	                <p>Your password has been set.You may go ahead and login now.</p>
	            </div>
	                <div><a href="{% url "loginUser" %}" class="btn btn-danger" type="submit">Back to Login</a> </div>
	        </div>
	    </div>
	</div>
{% endblock body %}